anemoi-datasets==0.5.7
git+https://github.com/ecmwf/anemoi-graphs.git@feature/support-forcing-area-in-cutout
anemoi-models==0.3.0
git+https://github.com/dietervdb-meteo/anemoi-training.git@feature/limited_area_crop
anemoi-utils[provenance]==0.4.0